body {
  background: rgba(94, 94, 94, 0.38);
  background-image: url("/static/login/img/background-nutree.png");
  background-size: cover;
  background-position: center center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 694px;
  height: 370px;

  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 {
  align-items: center;

  color: #5E5E5E;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}

form label {
  color: #000;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form span {
  color: #82AF66;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

form input {
  width: 547px;
  height: 56px;

  border-radius: 5px;
  border: 1px solid #000;
  background: #FFF;

  color: #ABABAB;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-left: 20px;
  box-sizing: border-box;
}

form button {
  width: 187px;
  height: 47px;

  border-radius: 5px;
  border: 1px solid #58CF68;
  background: #82AF66;
}